*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Space Mono;
  height: 100%;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #292c35;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4efef;
  height: 100vh;
}

.container_1 {
  padding: 20px;
  height: 50rem;
  width: 60rem;
  background-color: #f3fbf9;
}

h3 {
  font-style: bold;
  font-size: 2.6rem;
  line-height: 3.9rem;
  word-spacing: 0.1rem;
}

.finder_span {
  display: flex;
  justify-content: space-between;
}

.moon_icon {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.user_form {
}

#user_form input {
  flex: 1;
  border: 0;
  outline: none;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.git_logo {
  /* border: 2px red solid; */
  /* position: relative; */
  display: inline-block;
  /* top: 4rem;
  bottom: 4rem; */
  height: 9.15rem;
  width: 9.15rem;
  border-radius: 50%;
}

.search_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0rem;
  background-color: #fff;
  border-radius: 1rem;
  height: 4.5rem;
  /* position: relative; */
  margin-top: 1rem;
}
.search_icon {
  /* align-items: center; */
  height: 2.2rem;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
}

.btn {
  /* position: absolute; */
  /* top: 0.5rem; */
  padding: 0rem 1.5rem;
  /* left: 47rem; */
  margin-left: 26rem;
  height: 3.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  background-color: blue;
  border-radius: 0.5rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

.info_container {
  /* border: 2px red solid; */
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1.3rem;
  background-color: white;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  padding: 3rem;
}

.user_info .lorem {
  font-size: 1.2rem;
  word-spacing: 0.45rem;
  color: #a0a0da;
}

.user_info .date {
  display: flex;
  justify-content: flex-end;
}

.info_container1 {
  /* border: 2px solid; */
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 1.5rem;
}

.user_info {
  /* border: 2px red solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio_container {
  display: flex;
  /* border: 2px green solid; */
  background-color: #f3fbf9;
  width: 38rem;
  height: 7rem;
  border-radius: 0.5rem;
}

.content_container {
  flex: 1;
  /* border: 2px red solid; */
  position: relative;
  margin-top: 1rem;
}
.biometrics {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.info {
  padding-left: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.icons {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
}
.icon_space {
  position: absolute;
  /* border: 2px brown solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  left: 22.5rem;
  top: 0.3rem;
}
.icon_scan {
  padding-left: 1.2rem;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
